
@media only screen and (min-width: 576px) {
 
}

@media only screen and (min-width: 768px) {
     .menu_item {
          padding-right: 3%;
     }
}

@media only screen and (min-width: 992px) {
     .menu_item {
          padding-right: 10%;
     }
}

@media only screen and (min-width: 1200px) {
 .table_1{
      width: 95% !important;
 }

}
